*{
    margin: 0;
    padding: 0;
}

.wrapper{ 
    width: 100%;
    height: 150px; 
    padding: 0 0 0 0;
	margin: 0 auto 0 auto;
}

header {
        display:  block;
        width: 100%;
        height:  150px;
        background: url(shapka.jpg);
        box-shadow: 0 0 50px;
}
.text_header{
    font-family: 'Lato', sans-serif;
    color:#D1F0C6;
    margin-left: 50px;
    font-size: x-large;
    padding-top: 50px;
    font-size: 5ch;
}
#logo{
    width: 100px; 
    height: 100px; 
    background: url(logo.gif);
    float:  left;
    padding-right: 20px;
    margin: 15px;
}

body{
    background:url(back.jpg);
    height: 100%;
    flex-direction: column;
    display: flex;
    background-attachment: fixed;
}
.content{
    width: 100%;
}

.block_form
{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    background-color: rgb(133, 197, 235);
    border: 5px dashed rgb(189, 111, 189);
    padding-left:20px ;
}

.block_tabl
{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    background-color: rgb(133, 197, 235);
    border: 5px dashed rgb(189, 111, 189);
    padding-left:20px ;
}
.top_bot{
    padding-top: 50px;
    padding-bottom: 50px;
}
.block_ss
{
    display: flex; 
    flex-flow: wrap;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 50px;
    background-color: rgb(133, 197, 235);
    border: 5px dashed rgb(189, 111, 189);
    padding-left:25px ;
}

h1{
    color:rgb(189, 111, 189);
}

table{  
    text-align: center;
    border-spacing: 5px; /* Расстояние между ячейками */
    border:5px;
    margin: auto;
}


.table td{
    width:200px;
    height:50px;
}
.table tr:nth-child(odd)
{
    background:rgb(212, 245, 209);;
    padding: 5px; /* Поля вокруг текста */
}
.table tr:nth-child(even)
{
    background:rgb(213, 203, 221);
    padding: 5px; /* Поля вокруг текста */
}

.ss a{
    
    color: rgb(51, 3, 63);
    background: rgb(235, 208, 235);
    text-decoration: none;
}
.ss li{
    margin-bottom: 4px;
    text-align:left;
}
ul{
    list-style: none;
}
.ss ol{
    display:inline-table;
}


.menu{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.menu ul {
    background:#d078e686; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
    height: 300px; /*задаем высоту*/
    width: 100px;
  }
.menu a {
    text-align: center;
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background:#d078e686; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    color:#fff; /*меняем цвет ссылок*/
    margin-left: 15px;
    margin-right: 15px;
    font-size: 200%;
    font-family: arial; /*меняем шрифт*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block; 
    border: 1px solid #62caf398; /*добавляем бордюр*/
    height:80px;
    padding-top: 25px;
  }

.menu a:hover {
    background:#3769d446;/*добавляем эффект при наведении*/
  }

.menu li {
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
  }

#footer {
    box-shadow: 0 0 50px;
    display: block; 
    width: 100%; /* Ширина слоя */
    height: 50px; 
    background: url(shapka.jpg);
}
.footer_text{
    text-align: center;
    color: rgba(71, 26, 107, 0.63); /* Цвет текста */
}

@media screen and (min-width: 426px) {
    
    .menu{
        width: 960px;
        margin: 0 auto;
        flex-direction: row;
    }
    .block_ss{
        width: 960px;
        margin: 0 auto;
        margin-bottom: 50px;
        
    }
    .wrapper{
        width: 960px;
    }
    .menu li{
        margin: 10px;
    }
    .block_form{
        width: 960px;
        margin: 0 auto;
        margin-bottom: 50px;
        
    }
    .block_tabl{
        width: 960px;
        margin: 0 auto;
        margin-bottom: 50px;
        
    }
  }